.custom-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  outline-color: hsl(272, 82%, 56%);
  border: 1px solid rgb(207, 204, 204);
  position: relative;
  border-radius: 4px;
}

.custom-checkbox:checked::before {
  content: "\2714";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  color: hsl(272, 82%, 56%);
}
